.board{

  /* Creates a black area to create the board of cells*/
  position: relative;
  margin: 0px auto;
  background-color: #000;
  height: 600px;
  width: 800px;
  
  /* Vertical and horizontal lines that draw the grid */
  background-image:
    linear-gradient(#dbd4d4 1px, transparent 1px),
    linear-gradient(90deg, #dbd4d4 1px, transparent 1px);

  /* Size of each individual cell */
  background-size: 20px 20px;


}

.cell {
  background: #cccccc;
  position: absolute;
}